@import url("https://rsms.me/inter/inter.css");

svg {
  fill: black;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 5s ease 1s forwards;
}

.work-experience {
  width: 100% !important;
  height: 50vh !important;
  z-index: 100;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (min-width: 1024px) {
  .work-experience {
    height: 70vh !important;
  }
}

.work-experience::-webkit-scrollbar {
  display: none;
}

.work-experience *::-webkit-scrollbar {
  display: none !important;
}
.work-experience * {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

/* Custom Scrollbar for Modal */
.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(112, 66, 248, 0.05);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #7042f88b, #00c2ff8b);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #7042f8, #00c2ff);
    background-clip: content-box;
  }
  
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #7042f88b transparent;
}
