@import url("https://rsms.me/inter/inter.css");

svg {
  fill: black;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 5s ease 1s forwards;
}

.work-experience {
  width: 75vw !important;
  height: 75vh !important;
  margin: auto;
  z-index: 10;
}
